<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Matches View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Matches View
            </h2>
            
            <!--Filter START-->
            <div class="filter">
                <ul class="filter_list">
                    <div class="single_filter">
                        <li class="filter_name">Year</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Player Name</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Player Name</li>
                        <ul class="input">
                            <li><input></li>
                        </ul>
                    </div>
                    
                    <li class="filter_name"><button class="filter_button">Filter</button></li>
                    
                </ul>

            </div>
            <!--Filter END-->
            
            <div>
                <table id="matches-table">
                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Player1</th>
                            <th>Player2</th>
                            <th>Winner</th>
                            <th>Score</th>
                            <th>Year</th>

                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>

                        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                        {{#each data}}
                        <tr data-value={{this.match_id}}>
                            <td>{{this.match_id}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.player1}}</td>
                            <td>{{this.player2}}</td>
                            <td>{{this.winner}}</td>
                            <td>{{this.score}}</td>
                            <td>{{this.year}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
        </div>


    </body>
</html>
