<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Player View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Players View
            </h2>
            
            <!--Filter START-->
            <div class="filter">
                <ul class="filter_list">
                    <div class="single_filter">
                        <li class="filter_name">First Name</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Last Name</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Nation</li>
                        <ul class="input">
                            <li><input></li>
                        </ul>
                    </div>
                    
                    <li class="filter_name"><button class="filter_button">Filter</button></li>
                    
                </ul>

            </div>
            <!--Filter END-->

            <div>
                <table id="players-table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Nation</th>
                        <th>Phone Num</th>
                        <th>Coach's First Name</th>
                        <th>Coach's Last Name</th>

                    </tr>

                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.player_id}}>
                            <td>{{this.player_first_name}}</td>
                            <td>{{this.player_last_name}}</td>
                            <td>{{this.nation}}</td>
                            <td>{{this.phone_num}}</td>
                            <td>{{this.coach_first_name}}</td>
                            <td>{{this.coach_last_name}}</td>
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
            
        </div>


    </body>
</html>
