<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Players Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        
        <div class="contents">
            <h2>
                Players Edit
            </h2>
            <div class="create">
                <form id="add-player-form" method="POST" action="/add-player-form">
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label for="input-first_name">First Name</label>
                        <input name="input-first_name" id="input-first_name">
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label for="input-last_name">Last Name</label>
                        <input name="input-last_name" id="input-last_name">
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label for="input-nation">Nation</label>
                        <input name="input-nation" id="input-nation">
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label for="input-phone_num">Phone Number</label>
                        <input name="input-phone_num" id="input-phone_num">
                    </div>

                    <div class="u_input">
                        <label for="input-coach_first_name">Coach's First Name</label>
                        <input name="input-coach_first_name" id="input-coach_first_name">
                    </div>
                    <div class="u_input">
                        <label for="input-coach_last_name">Coach's Last Name</label>
                        <input name="input-coach_last_name" id="input-coach_last_name">
                    </div>
                    
                    <input type="submit">
                </form>
            </div>

            <div class="edit">
                <form>
                    <h3>Edit Existing Data</h3>
                    <div class="u_input">
                        <label>ID(data you edit)</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>First Name</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Last Name</label>
                        <input>
                        <p>*require</p>
                    </div>

                    <div class="u_input">
                        <label>Nation</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Phone Number</label>
                        <input>
                    </div>

                    <div class="u_input">
                        <label>Coach's First Name</label>
                        <input>
                    </div>
                    <div class="u_input">
                        <label>Coach's Last Name</label>
                        <input>
                    </div>
                    
                    <button>Edit Data</button>
                </form>
            </div>
            
            
            <div>
                <table id="players-table">
                    <thead>
                        <tr>
                            
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Nation</th>
                            <th>Phone Num</th>
                            <th>Coach First Name</th>
                            <th>Coach Last Name</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>

                        {{#each data}}
                        <tr data-value={{this.first_name}}>
                            <td>{{this.last_name}}</td>
                            <td>{{this.nation}}</td>
                            <td>{{this.phone_num}}</td>
                            <td>{{this.coach.first_name}}</td>
                            <td>{{this.coach.last_name}}</td>
                            <td><button class= "delete_button" onclick="deleteOffering({{this.player_id}})"> - </button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <script src="./js/delete_player.js"></script>
            </div>
            
        </div>


    </body>
</html>
