<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Sponsors Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        
        <div class="contents">
            <h2>
                Sponsors Edit
            </h2>
            <div class="create">
                <form id="add-sponsor-form" method="POST" action="/add-sponsor-form">
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label for="input-name">Sponsor Name</label>
                        <input name="input-name" id="input-name">
                        <p>*required</p>
                    </div>
                    <!-- <div class="u_input"> -->
                    <!--     <label for="input-offering">Offering</label> -->
                    <!--     <input name="input-offering" id="input-offering"> -->
                    <!--     <p>*required</p> -->
                    <!-- </div> -->
                    <div class="u_input">
                        <label for="input-offering">Offering</label>
                        <select name="input-offering" id="input-offering">
                            <option value=""> Select a Sponsor </option>
                            {{#each offering}}
                            <option value="{{this.offering_id}}">{{this.offering_id}} {{this.stuff}}</option>
                            {{/each}}
                        </select>
                    </div>
                    
                    {{!-- <button>Create Data</button> --}}
                    <input type="submit">
                </form>
            </div>

            <div class="edit">
                <form id="edit-sponsor-form" method="POST" action="/edit-sponsor-form">
                    <h3>Edit Existing Data</h3>
                    {{!-- <div class="u_input"> --}}
                    {{!--     <label for="edit-id">Sponsor ID</label> --}}
                    {{!--     <input name="edit-id" id="edit-id"> --}}
                    {{!--     <p>*required</p> --}}
                    {{!-- </div> --}}

                    <div class="u_input">
                        <label for="edit-id">Sponsor</label>
                        <select name="edit-id" id="edit-id">
                            <option value=""> Select a Sponsor </option>
                            {{#each data}}
                            <option value="{{this.sponsor_id}}">{{this.sponsor_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    {{!-- <div class="u_input"> --}}
                    {{!--     <label for="edit-offering" >Offering</label> --}}
                    {{!--     <input name="edit-offering" id="edit-offering"> --}}
                    {{!--     <p>*required</p> --}}
                    {{!-- </div> --}}
                    
                    <div class="u_input">
                        <label for="offering-id">Offering</label>
                        <select name="offering-id" id="offering-id">
                            <option value=""> Select a Sponsor </option>
                            {{#each offering}}
                            <option value="{{this.offering_id}}">{{this.offering_id}} {{this.stuff}}</option>
                            {{/each}}
                        </select>
                    </div>

                    {{!-- <button>Edit Data</button> --}}
                    <input type="submit">
                </form>
            </div>
            
            
            <div>
                <table id="sponsors-table">
                    <tr>
                        <th>ID</th>
                        <th>Sponsor Name</th>
                        <th>Offering</th>

                        <th>Delete</th>
                    </tr>

                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.sponsor_id}}>
                            <td>{{this.sponsor_id}}</td>
                            <td>{{this.sponsor_name}}</td>
                            <td>{{this.stuff}}</td>
                            <td><button class= "delete_button" onclick="deleteSponsor({{this.sponsor_id}})"> - </button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/delete_sponsor.js"></script>
            </div>
            
        </div>

    </body>
</html>
