<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Sponsors View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Sponsors View
            </h2>
            
            <!--Filter START-->
            <div class="filter">
                <ul class="filter_list">
                    <div class="single_filter">
                        <li class="filter_name">Sponsor Name</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Year</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    
                    <li class="filter_name"><button class="filter_button">Filter</button></li>
                    
                </ul>

            </div>
            <!--Filter END-->
            
            <!--Table Start-->
            <div>
                <table id="sponsors-table">
                    <tr>
                        <th>ID</th>
                        <th>Sponsor Name</th>
                        <th>Offerings</th>
                        <th>Year</th>

                    </tr>

                    <tbody>
                        {{each data}}
                        <tr data-value={{this.sponsor_id}}>
                            <td>{{this.sponsor_id}}<\td>
                            <td>{{this.name}}<\td>
                            <td>{{this.offering_id}}<\td>
                            <td>{{this.stuff}}<\td>
                            <td>{{this.year}}<\td>

                        {{\each}}
                    <\tbody>

                    <tr>
                        <td>1</td>
                        <td>Yonex</td>
                        <td>2</td>
                        <td>2018</td>
 
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Asics</td>
                        <td>3</td>
                        <td>2019</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>US bank</td>
                        <td>1</td>
                        <td>2021</td>

                    </tr>
                    
                </table>
            </div>
            <!--Table END-->
        </div>



    </body>
</html>
