<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournaments Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<!--h1 and menu bar -->
    <body>
        

<!--contents START-->
        <div class="contents">
            <h2>
                Tournaments Edit
            </h2>

            <div class="create">
                
                <form id="add-tournament-form" method="POST" action="/add-tournament-form">
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label for="input-year">Year</label>
                        <input name="input-year" id="input-year">
                        <p>*required</p>
                    </div>

                    <div class="u_input">
                        <label for="input-venue">Venue</label>
                        <input name="input-venue" id="input-venue">
                        <p>*required</p>
                    </div>
                    <div class="u_input">
                        <label for="input-sponsor-name">Sponsor Name</label>
                        <input name="input-sponsor-name" id="input-sponsor-name">
                    </div>
                    
                    <input type="submit">
                    {{!-- <button>Create Data</button> --}}
                </form>
            </div>

            <div class="edit">
                
                <form id="edit-offering-form" method="POST" action="/edit-tournament-form">
                    <h3>Edit Existing Data</h3>
                    <div class="u_input">
                        <label for="edit-year">Year</label>
                        <input name="edit-year" id="edit-year">
                        <p>*required</p>
                    </div>

                    <div class="u_input">
                        <label for="edit-venue">Venue</label>
                        <input name="edit-venue" id="edit-venue">
                        {{!--<p>*required</p>--}}
                    </div>
                    <div class="u_input">
                        <label for="edit-sponsor-name">Sponsor Name</label>
                        <input name="edit-sponsor-name" id="edit-sponsor-name">
                    </div>
                    
                    <input type="submit">
                    {{!-- <button>Edit Data</button> --}}
                </form>
            </div>
            
            
            <div>
                <table>
                    <tr>
                        <th>Year</th>
                        <th>Venue</th>
                        <th>Sponsor Name</th>
                        <th>Delete</th>
                    </tr>

                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.year}}>
                            <td>{{this.year}}</td>
                            <td>{{this.venue}}</td>
                            <td>{{this.sponsor_name}}</td>
                            <td><button class= "delete_button" onclick="deleteTournament({{this.year}})"> - </button></td>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/delete_tournament.js"></script>
            </div>
        </div>
        
        


    </body>
</html>
